make_cache=false
use_cache=false
cache_directory=$LINKSHOME/cache
prelude=$LINKSHOME/prelude-js.links
jslibdir=$LINKSHOME/lib/js
jsliburl=/lib/
compile_js=true
database_args=localhost:5432:links:
database_driver=postgresql
port=10088
js_pretty_print=true
serialiser=Dump
enable_handlers=true
debug=false
show_compiled_ir=true
